[Desktop Entry]
Name=Emacs Daemon
GenericName=Emacs Daemon
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Comment=Start an Emacs daemon to quicken the workflow
Exec=emacs --daemon
Terminal=false
Type=Application
Icon=emacs
Categories=
Keywords=Development;Text;Editor;
StartupWMClass=Emacs
